#include "ergodox.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout0;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    touchpad_listener: touchpad_listener {
        compatible = "zmk,input-listener";
        device = <&touchpad_split>;
    };
};

&kscan0 {
    status = "disabled";
};
